* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {
    background-color: #010101;
    color: white;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: #F0CB26;
    font-weight: 300
}

.lo-login{
    background-color: #232323;

    margin-top: 50px;
    margin-left: 33%;
    width: 33%;
    border: solid 3px #F0CB26;
}
a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: #F0CB26;
}

input {
    width: 250px;
    height: 30px;
}