* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {
    background-color: #010101;
    color: white;
}

.titulo {
    text-align: center;
    display: block;
    color: #F0CB26;
    margin-top: 45px;
}

.lo-login {
    width: 40%;
    height: 350px;
    background-color: #232323;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 2px solid #F0CB26;


}

.lo-container {
    display: flex;
    justify-content: center;
}