* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {
    background-color: #010101;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 35px;
    color: #F0CB26;
    font-weight: 300;
}

.div_container {
    border-bottom: solid #F0CB26 3px;
    margin-top: 30px;
}

.div_campeonatos {
    margin-left: 100px;
    width: 90%;
}

a {
    text-decoration: none;
    color: white;
}

.div_unico_camp {
    display: block;
	float:left;
	margin: 2%;
    font-size: 18px;
    border: solid #F0CB26 2px;
    padding: 1%;
    width: 245px;
}

h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.graficos{
    width: 90%;
    display: inline-block;
    margin-left: 75px;
    margin-top: 20px;
}
.span_gold {
    color: #F0CB26;
}

.graph {
    display: inline-block;
    width: 30%;
    height: 200px;
    padding: 10px;
}



footer {
    text-align: center;  
    position:absolute;
    bottom:0;
    width:100%;
}

footer p {
    font-size: initial;
}